<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ruapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ADMPackage.RegisterRequestActivity"></activity>
        <activity android:name=".ADMPackage.AdminMainActivity" />
        <activity android:name=".ADMPackage.RegisterMenuPackage.SaturdayRegisterActivity" />
        <activity android:name=".ADMPackage.RegisterMenuPackage.MondayRegisterActivity" />
        <activity android:name=".ADMPackage.RegisterMenuPackage.TuesdayRegisterActivity" />
        <activity android:name=".ADMPackage.RegisterMenuPackage.WednesdayRegisterActivity" />
        <activity android:name=".ADMPackage.RegisterMenuPackage.ThrusdayRegisterActivity" />
        <activity android:name=".ADMPackage.RegisterMenuPackage.FridayRegisterActivity" />
        <activity android:name=".ADMPackage.RegisterMenuActivity" />
        <activity android:name=".BookActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SeeMenuActivity" />
    </application>

</manifest>