<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ruapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.ADMPackage.RegisterMenuPackage.InsertMenuActivity"></activity>
        <activity android:name=".View.ADMPackage.ReportActivity" />
        <activity android:name=".View.USERPackage.UserMainActivity" />
        <activity android:name=".View.ADMPackage.RegisterRequestActivity" />
        <activity android:name=".View.ADMPackage.AdminMainActivity" />
        <activity android:name=".View.USERPackage.BookActivity" />
        <activity android:name=".View.MAINPackage.RegisterStudentActivity" />
        <activity android:name=".View.MAINPackage.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.USERPackage.SeeMenuActivity" />
    </application>

</manifest>